.stpy__features-container__feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

.stpy__features-container__feature-title {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 1rem;
    color: #fff;
}

.stpy__features-container__feature-image img {
    border-radius: 8px;
    box-shadow: 5px 4px 4px rgba(0,0,0,0.25);
}

.stpy__features-container__feature-title h1 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.stpy__features-container__feature-title div {
    position: absolute;
    width: 38px;
    height: 3px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-top: 2rem;
}

.stpy__features-container__feature-text {
    flex: 5;
    max-width: 390px;
    display: flex;
}

.stpy__features-container__feature-text p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #81AFDD;
}